input {
    keyboard {
        xkb {
            layout "us,ru"
            options "grp:alt_shift_toggle"
        }
    }
    warp-mouse-to-focus
    focus-follows-mouse max-scroll-amount="95%"
    mouse {
    	accel-speed 0.0
    	accel-profile "flat"
    }
}

layout {
    gaps 3
    center-focused-column "never"
    always-center-single-column
    empty-workspace-above-first
    default-column-display "tabbed"
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
    default-column-width { proportion 0.5; }
    focus-ring {
        off
    }
    tab-indicator {
        off
    }
    border {
    	width 3
    	// rgba(219, 188, 127, 1)
        // rgba(167, 192, 128, 1)
        // rgba(131, 192, 146, 1)
        active-gradient from="rgba(230, 126, 128, 1)" to="rgba(167, 192, 128, 1)" angle=45 in="oklch longer hue"
        inactive-gradient from="rgba(230, 126, 128, 0.4)" to="rgba(167, 192, 128, 0.4)" angle=45 in="oklch longer hue"
    }
    insert-hint {
        gradient from="rgba(230, 126, 128, 0.4)" to="rgba(167, 192, 128, 0.4)" angle=45 in="oklch longer hue"
    }
    struts {}
}

binds {
    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-down; }
    Mod+Up    { focus-window-up; }
    Mod+Right { focus-column-right; }

    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-down; }
    Mod+K     { focus-window-up; }
    Mod+L     { focus-column-right; }

    Mod+Shift+Left  { move-column-left; }
    Mod+Shift+Down  { move-window-down; }
    Mod+Shift+Up    { move-window-up; }
    Mod+Shift+Right { move-column-right; }
    Mod+Shift+H     { move-column-left; }
    Mod+Shift+J     { move-window-down; }
    Mod+Shift+K     { move-window-up; }
    Mod+Shift+L     { move-column-right; }

	Mod+Q { spawn "foot"; }
	Mod+E { spawn "thunar"; }
	Mod+R { spawn "fuzzel"; }
	Mod+M { quit skip-confirmation=true; }
	Mod+Shift+S { spawn "waylock"; }
	Mod+O repeat=false { toggle-overview; }
	Mod+C repeat=false { close-window; }
	Mod+V { toggle-window-floating; }
	Mod+Shift+V { switch-focus-between-floating-and-tiling; }
	
	Mod+N { switch-preset-column-width; }
	Mod+Shift+N { switch-preset-window-height; }
	Mod+Ctrl+N { reset-window-height; }
	Mod+F { maximize-column; }
	Mod+Shift+F { fullscreen-window; }
	Mod+Ctrl+F { expand-column-to-available-width; }
	Mod+B { center-column; }
	Mod+Shift+B { center-visible-columns; }
	Mod+Minus { set-column-width "-10%"; }
	Mod+Equal { set-column-width "+10%"; }
	Mod+W { toggle-column-tabbed-display; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }

    Print { screenshot-screen; }
    Shift+Print { screenshot; }
    Alt+Print { screenshot-window; }
}

animations {
    // Uncomment to turn off all animations.
    // You can also put "off" into each individual animation to disable it.
    // off
    // Slow down all animations by this factor. Values below 1 speed them up instead.
    // slowdown 3.0
    // Individual animations.
    workspace-switch {
        spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
    }
    window-open {
        duration-ms 150
        curve "ease-out-expo"
    }
    window-close {
        duration-ms 150
        curve "ease-out-quad"
    }
    horizontal-view-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }
    window-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }
    window-resize {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }
    config-notification-open-close {
        spring damping-ratio=0.6 stiffness=1000 epsilon=0.001
    }
    screenshot-ui-open {
        duration-ms 200
        curve "ease-out-quad"
    }
    overview-open-close {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }
}
environment {
	XDG_CURRENT_DESKTOP "niri"
	XDG_SESSION_TYPE "niri"
	QT_QPA_PLATFORM "wayland"
    DISPLAY ":0"
}
prefer-no-csd
spawn-at-startup "waybar"
spawn-at-startup "swww-daemon"
spawn-at-startup "xwayland-satellite"
spawn-at-startup "swww" "img" "~/nixos-everforest.png"
spawn-at-startup "foot"
output "HDMI-A-1" {
    mode "1920x1080"
}
cursor {
    xcursor-size 8
}
screenshot-path "~/Pictures/Screenshots/pic%Y-%m-%d_%H-%M-%S.png"
