@define-color blue #7fbbb3;
@define-color pink #d699b6;
@define-color red	#e67e80;
@define-color orange #e69875;
@define-color yellow #dbbc7f;
@define-color green	#a7c080;
@define-color aqua #83c092;

@define-color dark	#424b50;
@define-color white	#d3c6aa;

@define-color sound @blue;
@define-color disk @aqua;
@define-color memory	@green;
@define-color cpu	@yellow;
@define-color layout @orange;
@define-color date @red;
@define-color time @pink;

@define-color warning @orange;

#waybar {
	background: transparent;
  font-family: "jetBrainsMono NF ExtraBold","Symbols Nerd Font Mono";
  color: transparent;
  font-size: 20px;
  font-weight: 600;
}

* {
	border: none;
	border-radius: 0;
	min-height: 0;
  min-width:   0;
	margin: 0;
	padding: 0;
	box-shadow: none;
	text-shadow: none;
}

#clock,
#network,
#tray,
#disk,
#cpu,
#language,
#memory,
#wireplumber,
#window,

#workspaces button {
	padding-left: 2pt;
	padding-right: 2pt;
	color: @dark;
	background: @red;
}

#window {
	color: @white;
	background: rgba(127, 187, 179, 0.3);
  font-size: 15px;
  font-weight: 300;
}

#workspaces button label {
    margin:  0;
    padding: 0;
}

#workspaces button,
#workspaces button:hover,
#workspaces button.urgent,
#workspaces button.focused {
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	border:  none;
	padding: 0;
	border-radius: 0;
	min-height: 0;
  min-width:   0;
	margin: 0;
	border-width:0;
  border-top-width:    0;
  border-bottom-width: 0;
  box-shadow: none;
	text-shadow: none;
}


#workspaces button.focused {
	color: @white;
	background: @red;
  font-family: "jetBrainsMono NF ExtraBold","Symbols Nerd Font Mono";
  font-size: 20px;
  font-weight: 900;
}
#workspaces button:hover {
	color: @white;
	background: @red;
}
#workspaces button.urgent {
	color: @white;
	background: @red;
}
#language {
	background: @orange;
	color: @dark;
}
#wireplumber {
	background: @yellow;
	color: @dark;
}
#user {
	background: @green;
	color: @dark;
  font-size: 15px;
  font-weight: 600;
}
#network {
	background: @aqua;
	color: @dark;
  font-size: 15px;
  font-weight: 600;
}



#clock.time {
	background: @green;
	color: @dark;
}
#clock.date {
	background: @aqua;
	color: @dark;
}
#disk {
	background: @yellow;
	color: @dark;
}
#memory {
	background: @orange;
	color: @dark;
}
#cpu {
	background: @red;
	color: @white;
}
#tray {
	color: @white;
	background: @red;
}


#custom-arrowleft0 {
	font-size: 20pt;
	color: @pink;
	background: @red;
}
#custom-arrowleft1 {
	font-size: 20pt;
	color: @red;
	background: @orange;
}
#custom-arrowleft2 {
	font-size: 20pt;
	color: @orange;
	background: @yellow;
}
#custom-arrowleft3 {
	font-size: 20pt;
	color: @yellow;
	background: @green;
}
#custom-arrowleft4 {
	font-size: 20pt;
	color: @green;
	background: @aqua;
}
#custom-arrowleft5 {
	font-size: 20pt;
	color: @aqua;
	background: transparent;
}




#custom-arrowright2 {
	font-size: 20pt;
	color: @aqua;
	background: transparent;
}
#custom-arrowright3 {
	font-size: 20pt;
	color: @green;
	background: @aqua;
}
#custom-arrowright4 {
	font-size: 20pt;
	color: @yellow;
	background: @green;
}
#custom-arrowright5 {
	font-size: 20pt;
	color: @orange;
	background: @yellow;
}
#custom-arrowright6 {
	font-size: 20pt;
	color: @red;
	background: @orange;
}
#custom-arrowright7 {
	font-size: 20pt;
	color: @pink;
	background: @red;
}



#custom-arrowcenterL1 {
	font-size: 20pt;
	color: rgba(127, 187, 179, 0.3);
	background: transparent;
}

#custom-arrowcenterR1 {
	font-size: 20pt;
	color: rgba(127, 187, 179, 0.3);
	background: transparent;
}
