@define-color red	#e67e80;
@define-color green	#a7c080;
@define-color yellow #dbbc7f;
@define-color blue #7fbbb3;
@define-color purple #d699b6;
@define-color aqua	#83c092;
@define-color black	#282828;
@define-color white	#ebdbb2;

@define-color unfocused	@bg2;
@define-color focused	@braqua;
@define-color inactive	@purple;
@define-color user @purple;

@define-color sound	@green;
@define-color memory	@blue;
@define-color cpu	@red;
@define-color layout	@aqua;
@define-color date	@purple;
@define-color time	@yellow;

#waybar {
	background: rgba(40, 40, 40, 0.8784313725); /* #282828e0 */
	color: @white;
  font-family: "jetBrainsMono NF ExtraBold","Symbols Nerd Font";
  font-size: 16px;
  font-weight: 600;
}

#clock,
#cpu,
#language,
#memory,
#wireplumber,
#user,

#workspaces button {
	padding-left: 2pt;
	padding-right: 2pt;
	color: @white;
	background: @unfocused;
}
#workspaces button.visible {
	color: @white;
	background: @inactive;
}
#workspaces button.focused {
	color: @black;
	background: @focused;
}
#workspaces button.urgent {
	color: @black;
	background: @warning;
}
#workspaces button:hover {
	background: @black;
	color: @white;
}

#user {
	background: @user;
	color: @black;
}

#wireplumber {
	background: @sound;
	color: @black;
}

#memory {
	background: @memory;
	color: @black;
}

#cpu {
	background: @cpu;
	color: @black;
}

#language {
	background: @layout;
	color: @black;
}

#clock.date {
	background: @date;
	color: @black;
}

#clock.time {
	background: @time;
	color: @black;
}
#####################################################
#custom-arrow1 {
	font-size: 16pt;
	color: @user;
	background: transparent;
}

#custom-arrow2 {
	font-size: 16pt;
	color: @sound;
	background: transparent;
}

#custom-arrow3 {
	font-size: 16pt;
	color: @memory;
	background: @sound;
}

#custom-arrow4 {
	font-size: 16pt;
	color: @cpu;
	background: @memory;
}

#custom-arrow5 {
	font-size: 16pt;
	color: @layout;
	background: @cpu;
}

#custom-arrow6 {
	font-size: 16pt;
	color: @date;
	background: @layout;
}

#custom-arrow7 {
	font-size: 16pt;
	color: @time;
	background: @date;
}
